{
	"parser": "typescript",
	"singleQuote": true,
	"trailingComma": "none",
	"semi": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 160,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"experimentalTernaries": true,
	"overrides": [
	  {
			"files": "tests/**/*.ts",
			"options": {
				"plugins": ["@trivago/prettier-plugin-sort-imports"],
				"importOrder": ["^@nestjs/(.*)$","^@core/(.*)$", "^@shared/(.*)$", "^@server/(.*)$", "^@app/(.*)$", "^[./]"],
				"importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"],
				"importOrderSeparation": true,
				"importOrderSortSpecifiers": true
			}
	  }
	]
}
